@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: outfit;
}

/* clerk user button adjust*/

.cl-avatarBox {
    width: 3rem;
    height: 3rem;
}